# Database
DATABASE_URL=postgresql://user:password@localhost:5432/auth_google

# Server
PORT=3000
NODE_ENV=development

CORS_ORIGIN=http://localhost:5173

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# SMTP Config (para emails de reset de contraseña)
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

# Frontend URL
FRONTEND_URL=http://localhost:5173

# Cartera API Config
CARTERA_API_URL=http://localhost:5000
CARTERA_USER=
CARTERA_PASSWORD=

# CRM API Config
CRM_API_URL=http://localhost:4000
